.cart-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}
.delete-button{
    width: 100%;
}
.price-text{
    font-size: 30px;
}
@media only screen and (max-width: 600px){
    .cart-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .delete-button{
        width: 50%;
    }
}