.cart-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}
.cart-div .image{
    width: 50%;
    border-radius: 60px;
}
.cart-div .image img{
    width: 100%;
    border-radius: 60px;
}
.delete-button{
    width: 30%;
}
@media only screen and (max-width: 600px){
    .cart-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .delete-button{
        width: 50%;
    }
}