.product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.products-cart{
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  height: 100%;
}
.first{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
}
.second{
  text-align: center;
}
@media only screen and (max-width: 600px){
  .products-cart{
    width: 100%;
    display: flex;
    gap: 0px;
  }
  .product{
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .cart{
    width: 30%;
    position: sticky;
    top: 0px;
    text-align: center;
  }
  .button{
    flex-direction: column;
  }
  
}